# This file contains settings needed for lc3plus_conformance.py
# You can add/remove several bitrates or sampling rates from the sections. Make sure that all paths are correct.

[globals]

enabled_tests = AA.AC.1-2, AA.AC.3-10, AA.AC.20-23, AA.AC.18-19, AA.AC.18-19_lfe

reference_exe = REPLACE_WITH_REF_EXE
# make sure to enable g192 format
encoder = REPLACE_WITH_TST_EXE -E -q -formatG192 -frame_ms {frame_size} {options} "{input}" "{output}" {bitrate}
decoder = REPLACE_WITH_TST_EXE -D -q -formatG192 {options} "{input}" "{output}"
# make sure to disable delay detection, if possible
peaq_bin = REPLACE_WITH_PEAQ_BIN "{reference}" "{test}"
# regex to grep odg value from peaq output
peaq_odg_regex = REPLACE_WITH_PEAQ_REGEX

# additional options for some tests
option_bandwidth = -bandwidth "{arg}"   # arg is a number or a switching file
option_ep_debug  = -ep_dbg "{arg}"      # arg is a file name
option_ep_mode   = -epmode {arg}        # arg is value between 0 and 4

#################################################################
####################### TESTS ###################################
#################################################################

[AA.AC.1-2]
# test modes
test_sqam                = 1
test_band_limiting       = 1
test_low_pass            = 0 # not applicable for 16 kHz
test_bitrate_switching   = 1
test_bandwidth_switching = 1
test_plc                 = 1
test_pc                  = 1
test_ep_correctable      = 1
test_ep_non_correctable  = 1
test_ep_mode_switching   = 1
test_ep_combined         = 0 # not applicable for 32 kbps
test_ep_combined_nc      = 0 # not applicable for 32 kbps

# change metric for test
# metric can be rms, odg, mld, eng
sqam_encode_metric                = odg
sqam_encdec_metric                = odg
band_limiting_encode_metric       = odg
band_limiting_encdec_metric       = odg
bitrate_switching_encode_metric   = odg
bitrate_switching_encdec_metric   = odg
bandwidth_switching_encode_metric = odg
bandwidth_switching_encdec_metric = odg
ep_correctable_encode_metric      = odg
ep_correctable_encdec_metric      = odg
ep_mode_switching_encode_metric   = odg
ep_mode_switching_encdec_metric   = odg

# configurations for most tests
#         Mode, Frame Size, Samplingrate, Bitrate
configs = encode, 10, 16000, 32000
          decode, 10, 16000, 32000
          encode, 10, 32000, 64000
          decode, 10, 32000, 64000

#################################################################
#################################################################
#################################################################

[AA.AC.3-10]
# test modes
test_sqam                = 1
test_band_limiting       = 1
test_low_pass            = 1
test_bitrate_switching   = 1
test_bandwidth_switching = 1
test_plc                 = 1
test_pc                  = 1
test_ep_correctable      = 1
test_ep_non_correctable  = 1
test_ep_mode_switching   = 1
test_ep_combined         = 0
test_ep_combined_nc      = 0

sqam_encode_metric                = odg
sqam_encdec_metric                = odg
band_limiting_encode_metric       = odg
band_limiting_encdec_metric       = odg
bitrate_switching_encode_metric   = odg
bitrate_switching_encdec_metric   = odg
bandwidth_switching_encode_metric = odg
bandwidth_switching_encdec_metric = odg
ep_correctable_encode_metric      = odg
ep_correctable_encdec_metric      = odg
ep_mode_switching_encode_metric   = odg
ep_mode_switching_encdec_metric   = odg
ep_combined_encode_metric         = odg
ep_combined_encdec_metric         = odg

# configurations for most tests
#         Mode, Samplingrate, Frame Size, Bitrate
configs = encode, 10, 48000, [64000:96000:128000]
          decode, 10, 48000, [64000:96000:128000]
          encode,  5, 48000, [128000:160000:192000]
          decode,  5, 48000, [128000:160000:192000]
          encode,2.5, 48000, [128000:256000]
          decode,2.5, 48000, [128000:256000]

#################################################################
#################################################################
#################################################################

[AA.AC.20-23]
# test modes
test_sqam                = 0    # basic quality test already in A.AC.3-10
test_band_limiting       = 0
test_low_pass            = 0
test_bitrate_switching   = 0
test_bandwidth_switching = 0
test_plc                 = 0
test_pc                  = 0
test_ep_correctable      = 0
test_ep_non_correctable  = 0
test_ep_mode_switching   = 0
test_ep_combined         = 1   # stereo payload tests
test_ep_combined_nc      = 1   # stereo payload tests

sqam_encode_metric                = odg
sqam_encdec_metric                = odg
band_limiting_encode_metric       = odg
band_limiting_encdec_metric       = odg
bitrate_switching_encode_metric   = odg
bitrate_switching_encdec_metric   = odg
bandwidth_switching_encode_metric = odg
bandwidth_switching_encdec_metric = odg
ep_correctable_encode_metric      = odg
ep_correctable_encdec_metric      = odg
ep_mode_switching_encode_metric   = odg
ep_mode_switching_encdec_metric   = odg
ep_combined_encode_metric         = odg
ep_combined_encdec_metric         = odg

# configurations for most tests
#         Mode, Samplingrate, Frame Size, Bitrate
configs = encode, 10, 48000, 128000
          decode, 10, 48000, 128000
          encode,  5, 48000, 256000
          decode,  5, 48000, 256000
          encode,2.5, 48000, [320000:512000]
          decode,2.5, 48000, [320000:512000]

[AA.AC.18-19]
# test modes
test_sqam                = 1
test_band_limiting       = 1
test_low_pass            = 1
test_bitrate_switching   = 1
test_bandwidth_switching = 1
test_plc                 = 1
test_pc                  = 1
test_ep_correctable      = 1
test_ep_non_correctable  = 1
test_ep_mode_switching   = 1
test_ep_combined         = 0
test_ep_combined_nc      = 0

sqam_encode_metric                = odg
sqam_encdec_metric                = odg
band_limiting_encode_metric       = odg
band_limiting_encdec_metric       = odg
bitrate_switching_encode_metric   = odg
bitrate_switching_encdec_metric   = odg
bandwidth_switching_encode_metric = odg
bandwidth_switching_encdec_metric = odg
ep_correctable_encode_metric      = odg
ep_correctable_encdec_metric      = odg
ep_mode_switching_encode_metric   = odg
ep_mode_switching_encdec_metric   = odg

bitflip_seed = 12345678
#         Mode, Samplingrate, Frame Size, Bitrate
configs = encode, 10, 48000, 32000
          encode,  5, 48000, 64000
          decode, 10, 48000, 32000
          decode,  5, 48000, 64000

[AA.AC.18-19_lfe]
# test modes
test_lfe                 = 1 

lfe_encode_metric        = mld

#         Mode, Samplingrate, Frame Size, Bitrate
configs = encode, 10, 48000, 32000
          encode,  5, 48000, 64000